.question {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 280%;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px #000000; /* sombra negra */
    font-family: "Ink Free", cursive, sans-serif;
    text-align: center;
}

.question.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.efecto{

}

.efecto.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}