.card-floating {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #505050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3%;
    left: 3%;
    padding: 0.5%;
    font-family: Impact, sans-serif;
    width: 15%;
}
  
.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.likes-count {
    font-size: 200%;
    padding-right: 5%;
}

.likes-count {
    font-size: 200%;
    
}
  
.card-shadow {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
  
.card-floating img {
    width: 20%;
    height: 20%;
    padding-left: 5%;
}
